html{
    background: #575353;
}
.carousel-inner img {
    width: 400px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner{
    width: 360px;
    height: 360px;
    background: #adc4463f;
}