html{
    background-color: rgb(240, 222, 163);
}

.titulo{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#descripcion{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#subtitulo{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
footer{
    text-align: center;
}
.perritos{
    margin-left: auto;
    text-align: right;
    font-size: 24px;
    text-decoration: none;
    float: right;
    margin-right: 5%;
}
#perrito{
    text-decoration: none;
    font-size: 24px;
}
.subMenu{
    font-size: 24px;
    word-spacing: 100px;
    font-weight: bold;
    text-align: center;
}